.homepage-main {
    padding-top: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    height: 70px;
    box-sizing: border-box;
}

.header-spacer {
    height: 100px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 24px;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    line-height: 70px;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
}

.icon {
    color: #e59538;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #e59538;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  border: #3B7883;
}

.modal-content {
  max-width: 320px;
  width: 90%;
}

/* Tombol modal */
.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-teal {
  border: #3B7883;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-teal:hover {
  background-color: #146c43;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-login, .btn-logout {
    display: inline-flex; 
    align-items: center; 
    gap: 10px; 
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-login {
   color: #3B7883; 
   border: 1px solid #3B7883;
}

.btn-logout{
    color: #D67832;
    border: 1px solid #D67832;
}