.cart-summary-box {
  border-radius: 10px;
  border: 3px solid #D67832 !important;
  background-color: #FFF2F2;
  padding: 1rem;
}

.product-name {
  color: #3B7883;
  padding-top: 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
}

.product-price {
  margin: 0;
  color: black;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.quantity-controls button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
}

.quantity-controls span {
  margin: 0 5px;
}
