.menu-container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 70px;
}

.menu-banner {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  position: relative;
  top: 0;
  padding-bottom: 50px;
}

.search-input:focus {
  outline: none;
  border-color: #D67832 !important;
  box-shadow: 0 0 5px #D67832;
}

.filter-select {
  background-color: white;
  color: black;
  border-radius: 10px !important;
  border: none !important;
  height: 30px !important;
  padding: 0 10px;
  min-width: 150px;
}

.filter-select:active {
  border: none !important;
}

.search-filter-container {
  position: relative;
}

.input-box {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  max-width: 700px;
  width: 100%;
}

.filter-dropdown {
  position: absolute;
  top: 50px;
  z-index: 10;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #D67832;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

