.bg-light-pink {
  background-color: #FFF2F2;
}

.registration-card {
  border: 1px solid #D67832;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.registration-title {
  color: #D67832;
  font-family: 'Georgia', serif;
}

.custom-input {
  background-color: white;
  border: 1px solid #D67832;
  max-height: 30px;
}

.btn-teal {
  background-color: #3B7883 !important; 
  color: white;
}

.btn-teal:hover {
  background-color: #2e5859 !important;
  color:white;
}

.error-text {
  font-size: 0.9rem;
  color: #3B7883;
  margin-top: 4px;
}

@media (max-width: 570px) {
  .registration-page {
    margin: 20px;
  }
}