@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

.sticky {
  top: 0;
  position: sticky;
}

/* Header */
.header {
  background-color: #FFFFFF;
  height: 80px;
  border-bottom: 2px solid #ccc;
  position: sticky;
  top: 0;
}
.logo {
  height: 78px;
  object-fit: contain;
  z-index: 1;
}
.menu-btn {
  display: inline-block;
  background-color: #FDF0D4;
  color: #D67832;
  padding: 5px 10px;
  border: 1px solid #D67832;
  border-radius: 10px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 2;
  position: relative;
}
.menu-btn:hover {
  background-color: #ffcc99;
  color: #D67832;
}
.menu-btn .icon{
  font-size: 30px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  margin-top: 80px;
  padding-top: 20px;
  background: #D67832;
  color: white;
  transition: all .5s ease;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  color: white;
}

.sidebar .nav-link:hover {
  padding-left: 13px;
}

.sidebar .nav-link .icon {
  color: #FFFFFF;
}

.admin-main {
  height: 100%;
  margin-left: 20%;
}

.admin-section {
  padding: 30px;
}

@media (max-width: 800px) {
  .admin-main {
    margin-left: 40px;
  }

  .admin-section {
    padding: 20px;
  }

  .sidebar .desc {
    display: none;
  }
  
  .sidebar {
    width: 40px;
  }

  .sidebar .nav-link {
    padding-left: 10px;
  }

  .caption-up-gambar {
    font-size: 15px !important;
  }
}

@media (max-width: 600px) {
  .table th, .table td {
    font-size: 12px !important;
    padding: 5px !important;
  }

  .admin-section  {
    font-size: 12px !important;
  }

  .admin-section h4 {
    font-size: 15px;
  }

  .btn-teal {
    font-size: 10px;
  }

  .cancel-btn {
    font-size: 10px;
  }

  .menu-container {
    padding-top: 7px !important;
  }

  .search {
    font-size: 10px !important;
  }

  .caption-up-gambar {
    font-size: 10px !important;
  }
}

@media (max-width: 574px) {
  .box-gambar {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
  }
}

@media (max-width: 400px) {
  .admin-section {
    padding: 10px;
  }
  .table th {
    font-size: 10px !important;
    padding: 5px !important;
  }

  .table td {
    font-size: 9px !important;
    padding: 2px !important;
  }

  .box-gambar {
    width: 70%;
  }
}